<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>OrigenAir Dashboard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
        
        <!--link jquery by CDN-->
        <script type="text/javascript" src='https://code.jquery.com/jquery-3.5.0.min.js'></script>
        <!-- Bootstrap -->
        
    </head>

    <body>
        <main>
            <!-- Sidebar -->
            <aside>
            </aside>
          
            <!-- Profile Bar -->
            <header>
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-dark indigo">
                      <a class="navbar-brand" href="#">Navbar</a>
                    </nav>
                  </div>
            </header>
          
            <!-- Main Content -->
            <section>
              {% block content %}
              {% endblock %}
            </section>
          </main>
          
          <!-- Javascript -->

          <!-- Bootstrap CDN -->
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </body>
</html>