<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OrigenAir - Dashboard</title>
</head>

<body>
  <main>
    <!-- Example -->
    {% extends "base.html" %}

    {% block content %}
    
    <!-- Sidebar -->
    <aside>
        
    </aside>
    <!-- Profile Bar -->
    <header>
    </header>
  
    <!-- Main Content -->
    <section>
        <!-- contains articles -->
    </section>
    {% endblock %}
  </main>
  <!-- Javascript -->
</body>
</html>