{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="main-container">
    <div class="row">
        <div class="col-sm-6">
            <canvas id="line-chart" width="800" height="450"></canvas>
        </div>
        <div class="col-sm-6">
            <canvas id="radar-chart" width="800" height="600"></canvas>
        </div>
        <div class="col-sm-6">
            <canvas id="polar-chart" width="800" height="450"></canvas>
        </div>
        <div class="col-sm-6">
            <canvas id="bar-chart-grouped" width="800" height="450"></canvas>
        </div>
        <div class="col-sm-6">
            <canvas id="mixed-chart" width="800" height="450"></canvas>
        </div>
        <div class="col-sm-6">
            <canvas id="doughnut-chart" width="800" height="450"></canvas>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    {{block.super}}
    <script src="{% static 'js/charts.js' %}"></script>
{% endblock scripts %}