{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_sensorlist.css' %}">
{% endblock %}

{% block content %}

<div class="container-sensor-list table-responsive-md">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Value</th>
                <th scope="col">Min</th>
                <th scope="col">Max</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for sensor in user.person.organization.sensors.all %}
            <tr id={{sensor.pk}}>
                <th scope="row">{{sensor.pk}}</th>
                <td><a href="{% url 'sensor:single' slug=user.person.organization.slug pk=sensor.pk %}"
                        style="display:block;">{{sensor.name|capfirst}}</a></td>
                <td>{{sensor.sensor_type|capfirst}}</td>
                <td>{{sensor.value}}</td>
                <td>{{sensor.threshold_min}}</td>
                <td>{{sensor.threshold_max}}</td>
                <td>
                    {% if user.person.organization.admin %}
                    <a class= "btn btn-success"
                        href="{% url 'sensor:update' slug=user.person.organization.slug pk=sensor.pk %}">Edit</a>&nbsp;&nbsp;
                    <a class="btn btn-danger"
                        href="{% url 'sensor:delete' slug=user.person.organization.slug pk=sensor.pk %}">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if user.person.organization.admin %}
    <!-- CREATE Button -->
    <a class="fab" href="{% url 'sensor:create' slug=user.person.organization.slug %}">+</a>
    <!-- /END CREATE Button -->
    {% endif %}
</div>

{% endblock %}
