{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_sensorlist.css' %}">
{% endblock %}

{% block content %}

<!-- CONTAINER -->
<div class="container member-container">
    <!-- LIST Member -->
    <div class="row">
        {% for sensor in user.person.organization.sensors.all %}
        <a href="{% url 'accounts:profile' username=user.username %}" class="col-xl-3 col-md-6 mb-4 member-card">
            <div class="card border-0 shadow">
                <!-- BODY Member -->
                <div class="card-body2 text-center">
                    <!-- NAME Member -->
                    <div><h5 class="card-title mb-0">{{sensor.name}}</h5></div>
                </div>
                <!-- /END BODY Member -->
            </div>
        </a>
        {% endfor %}
    </div>
    <!-- /END LIST Member -->
</div>
<!-- /END CONTAINER -->

<div class="main-container">
    <div class="row">
        <div class="col-sm-12">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

{% endblock %}

<!-- Scripts Block -->
{% block scripts %}
    {{block.super}}
    <script src="{% static 'js/charts.js' %}"></script>
{% endblock scripts %}