{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_sensordetail.css' %}">
{% endblock %}

{% block content %}

<div class="main-container">
    <div class="row">
        <div class="col btn-sensor-detail">
            <div>
                <!-- LIST Button -->
                <a class="btn btn-success btn-sensor-detail-left"
                    href="{% url 'sensor:all' slug=user.person.organization.slug %}">List
                </a>
                <!-- /END LIST Button -->

                <!-- DELETE Button -->
                <a class="btn btn-danger btn-sensor-detail-right"
                    href="{% url 'sensor:delete' slug=user.person.organization.slug pk=sensor.pk %}">Delete
                </a>
                <!-- /END DELETE Button -->

                <!-- EDIT Button -->
                <a class="btn btn-success btn-sensor-detail-right"
                    href="{% url 'sensor:update' slug=user.person.organization.slug pk=sensor.pk %}">Edit
                </a>
                <!-- /END EDIT Button -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="card border-0 shadow">
                <div class="card-body2 text-center card-sensor1">
                    <div>
                        <div>
                            <h5 class="card-title mb-0 card-title-sensor">Sample Data 1</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card border-0 shadow">
                <div class="card-body2 text-center card-sensor1">
                    <div>
                        <div>
                            <h5 class="card-title mb-0 card-title-sensor">Sample Data 2</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card border-0 shadow">
                <div class="card-body2 text-center card-sensor1">
                    <div>
                        <div>
                            <h5 class="card-title mb-0 card-title-sensor">Sample Data 3</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <canvas id="myChart" height="75"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="card border-0 shadow">
                <div class="card-body2 text-center card-sensor2">
                    <div>
                        <br>
                        <canvas id="doughnut-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card border-0 shadow">
                <div class="card-body2 text-center card-sensor2">
                    <div>
                        <br>
                        <canvas id="bar-chart-grouped"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card border-0 shadow">
                <div class="card-body2 text-center card-sensor2">
                    <div>
                        <br>
                        <canvas id="line-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!-- Scripts Block -->
{% block scripts %}
{{block.super}}
<script src="{% static 'js/sensordetail.js' %}"></script>
{% endblock scripts %}