{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- BANNER -->
<header class="bg-primary text-center py-5 mb-4 members-banner" style="background-color: {{user.person.organization.color}} !important;">
    <div class="container">
        <!-- NAME Organization -->
        <h1 class="font-weight-light text-white">{{user.person.organization.name}}</h1>
        <!-- Heading -->
        <h1 class="font-weight-light text-white">Sensors</h1>
    </div>
</header>
<!-- /END BANNER -->

<!-- CONTAINER -->
<div class="container member-container">
    <!-- LIST Member -->
    <div class="row">
        {% for sensor in user.person.organization.sensors.all %}
        <a href="{% url 'accounts:profile' username=user.username %}" class="col-xl-3 col-md-6 mb-4 member-card">
            <div class="card border-0 shadow">     
                <div class="card-body2 text-center">
                    
                    <div><h5 class="card-title mb-0">{{sensor.name}}</h5></div>
           
                    <div class="text-black-50">Min: {{sensor.threshold_min}}</div>
                    <div class="text-black-50">Max: {{sensor.threshold_max}}</div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <!-- /END LIST Member -->
</div>
<!-- /END CONTAINER -->

{% endblock %}

<!-- Scripts Block -->
{% block scripts %}
{{block.super}}
{% endblock scripts %}