{% extends "base.html" %}

{% load static %}

{% block content %}

<div id="organization-list">
    <!-- LIST Organization -->
    <div class="row text-center">
        {% for organization in object_list %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-80">
                {% if organization.logo %}
                    <img src="{{organization.logo.url}}" class="card-img-top" alt="img" height="169.8">
                {% else %}
                    <img src="{% static 'img/contemplating.png' %}" class="card-img-top" alt="img" height="169.8">
                {% endif %}
                
                <div class="card-body">
                    <h4 class="card-title">{{organization.name}}</h4>
                    <p class="card-text list-card-text">{{organization.description}}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'organization:single' slug=organization.slug %}" class="btn btn-success">More Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- /END LIST Organization -->

    <!-- CREATE Button -->
    <a class="fab" href="{% url 'organization:create' %}"> + </a>
    <!-- /END CREATE Button -->
</div>

{% endblock %}

<!-- Scripts Block -->
{% block scripts %}
{{block.super}}
{% endblock scripts %}