{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/orgcreate-gsdk-bootstrap-wizard.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style_orgcreate.css' %}">
{% endblock %}

{% block content %}

<div>
    <!--   Big container   -->
    <div class="container">
        <div class="row secondcontainer">
            <div class="col-sm-8 col-sm-offset-2">

                <!--      Wizard container        -->
                <div class="wizard-container">

                    <!-- data-color controls the color of the active tab of the ACCOUNT/ABOUT/SIZE/LOCATION Nav Bar -->
                    <div class="card wizard-card hugecontainer" data-color="green" id="wizardProfile">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <!-- Title of Create Organization Page -->
                            <div class="wizard-header">
                                <h3>
                                    <b>BUILD</b> YOUR ORGANIZATION <br>
                                    <small>This information will let us know more about you.</small>
                                </h3>
                            </div>
                            <!-- End of Title of Create Organization Page -->

                            <!-- Create Organization Page Nav Bar / Link to different sections -->
                            <div class="wizard-navigation">
                                <ul class="createorgnavbar">
                                    <li class="pickle">
                                        <a class="createinside" href="#account" data-toggle="tab">Account</a>
                                    </li>
                                    <li class="pickle">
                                        <a class="createinside" href="#about" data-toggle="tab">About</a>
                                    </li>
                                    <li class="pickle">
                                        <a class="createinside" href="#theme" data-toggle="tab">Theme</a>
                                    </li>
                                    <!-- <li>
                                        <a class="createinside" href="#size" data-toggle="tab">Size</a>
                                    </li> -->
                                    <li class="pickle">
                                        <a class="createinside" href="#location" data-toggle="tab">Location</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End of Create Organization Page Nav Bar / Link to different sections -->

                            <div class="tab-content">
                                <!-- Account Tab -->
                                <div class="tab-pane" id="account">
                                    <div class="row commentcontainer">
                                        <h4 class="info-text commentrow"> Let's start with the basic information (with
                                            validation)</h4>
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <div class="picture-container">
                                                <div class="picture">
                                                    <!-- <img src="{% static 'img/placeholder.jpg' %}" class="picture-src" 
                                                        id="wizardPicturePreview" title="" /> -->
                                                    <img src="{{user.organization.avatar.url}}" class="picture-src"
                                                        id="wizardPicturePreview" title="" />
                                                    <!-- <img src="{{request.user.person.organization.picture.url}}" class="picture-src" 
                                                        id="wizardPicturePreview" title=""/> -->
                                                    <input type="file" id="wizard-picture">
                                                </div>
                                                <h6>Choose Picture</h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 contentpart1">
                                            <div class="form-group contentpart1box1">
                                                <label for="inputName" class="contentpart1label1">Organization Name
                                                    <small>(required)</small></label>
                                                {{form.name}}
                                            </div>
                                            <div class="form-group contentpart1box2">
                                                <label for="inputEmail" class="contentpart1label2">Contact Email
                                                    <small>(optional)</small></label>
                                                {{form.email}}
                                            </div>
                                        </div>
                                        <div class="col-sm-10 col-sm-offset-1 contentpart2">
                                            <div class="form-group contentpart2box1">
                                                <label for="inputWebsite" class="contentpart2label1">Organization
                                                    Website <small>(optional)</small></label>
                                                {{form.website}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Account Tab -->

                                <!-- About Tab -->
                                <div class="tab-pane" id="about">
                                    <div class="row aboutheadline">
                                        <h4 class="info-text abouttitle"> Tell us about your organization. </h4>
                                        <div class="col-sm-6 col-sm-offset-1">
                                            <div class="form-group">
                                                <label for="inputDescription" class="aboutinstruction">Organization
                                                    Description</label>
                                                {{form.description}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of About Tab -->

                                <!-- Theme Tab -->
                                <div class="tab-pane" id="theme">
                                    <div class="row aboutheadline">
                                        <h4 class="info-text themetitle"> Select Theme Color </h4>
                                        <div class="form-group themecolor1">
                                            <label for="inputColor" class="themecolor">Theme Color</label>
                                            {{form.color}}
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Theme Tab -->

                                <!-- Location Tab -->
                                <div class="tab-pane" id="location">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4 class="info-text"> Where can we find you? </h4>
                                        </div>
                                        <div class="col-sm-7 col-sm-offset-1 contentpart3">
                                            <div class="form-group contentpart3box1">
                                                <label for="inputStreetName" class="contentpart3label1">Street Name</label>
                                                {{form.street_name}}
                                            </div>
                                        </div>
                                        <div class="col-sm-3 contentpart4">
                                            <div class="form-group">
                                                <label for="inputStreetNumber">Street Number</label>
                                                {{form.street_number}}
                                            </div>
                                        </div>
                                        <div class="col-sm-5 col-sm-offset-1 contentpart5">
                                            <div class="form-group">
                                                <label for="inputCity">City</label>
                                                {{form.city}}
                                            </div>
                                        </div>
                                        <div class="col-sm-5 contentpart6">
                                            <div class="form-group">
                                                <label for="inputCountry">Country</label>
                                                {{form.country}}  
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Size Tab -->
                            </div>
                            <!-- End of Container -->

                            <!-- The next, create and previous button -->
                            <div class="wizard-footer height-wizard">
                                <div class="pull-right">
                                    <input type='button' class='btn btn-next btn-fill btn-wd btn-sm' name='next' value='Next' />
                                    <input type="submit" class='btn btn-finish btn-fill btn-wd btn-sm' value="Create" />
                                </div>
                                <div class="pull-left">
                                    <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Previous' />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <!-- End of The next, create and previous button -->
                        </form>
                    </div>
                </div> <!-- wizard container -->
            </div>
        </div><!-- end row -->
    </div> <!--  big container -->
</div>

{% endblock %}

<!-- Scripts Block -->
{% block scripts %}
<!-- {{block.super}} -->
<!--   Core JS Files   -->
<script src="{% static 'js/orgcreate-jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/orgcreate-bootstrap.min.js' %}"></script>
<script src="{% static 'js/orgcreate-jquery.bootstrap.wizard.js' %}"></script>

<!--  Plugin for the Wizard -->
<script src="{% static 'js/orgcreate-gsdk-bootstrap-wizard.js' %}"></script>

<!-- More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="{% static 'js/orgcreate-jquery.validate.min.js' %}"></script>

{% endblock scripts %}