/* ORGANIZATION MEMBERS */

.card-avatar {
    width: 130px;
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.card-avatar img{
    width: 100%;
}

.card-avatar+.card-body2{
    margin-top: 20px;
}

.card-body2 {
    height: 230px;
}

.card-text2 {
    margin: 15px;
    height: 150px;
    overflow: hidden;
}

.member-card {
    margin-top: 60px;
}

/* ----------------------------------------------- */

/* ORGANIZATION LIST */

.card-body {
    height: 220px;
}

.fab {
    width: 70px;
    height: 70px;
    background-color: var(--main-bg-color);
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    transition: all 0.1s ease-in-out;

    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 70px;

    position: fixed;
    right: 40px;
    bottom: 40px;
}

.fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}

.list-card-text {
    height: 120px;
    overflow: hidden;
}

#organization-list {
    padding: 30px;
}

.card .card-body{
    padding: .9375rem 1.875rem;
}

.card .card-header.card-header-image {
    position: relative;
    padding: 0;
    /* z-index: 1; */
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    max-height: 215px;
}

.card .card-header.card-header-image a {
    display: block;
}

.card .card-header.card-header-image img {
    width: 100%;
    height: 215px;
    border-radius: 6px;
    pointer-events: none;
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.card .card-footer1 {
    background-color: transparent;
    border: 0;
}

.card-footer1 {
    margin-bottom: 20px;
}

.list-card {
    margin-top: 30px;
    margin-bottom: 50px;
}

/* ----------------------------------------------- */

/* ORGANIZATION PROFILE */

.carousel {
    height: 50vh;
}

.carousel-item>a>img {
    height: 50vh;
}

.create-content {
    padding-top: 25px;
}

/* ----------------------------------------------- */