/* ORGANIZATION MEMBERS */

.members-banner {
    background-color: #1B9A4B !important;
}

/* ----------------------------------------------- */

/* ORGANIZATION LIST */

.list-card-text {
    height: 100px;
    overflow: hidden;
}

.list-field {
    padding-top: 25px;
}

#organization-list {
    padding: 25px;
}

/* ----------------------------------------------- */

/* ORGANIZATION PROFILE */

.carousel {
    height: 50vh;
}

.carousel-item>a>img {
    height: 50vh;
}

.create-content {
    padding-top: 25px;
}

/* ----------------------------------------------- */