/* SIDEBAR */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* ----------------------------------------------- */

/* SIDEBAR */

#body-row {
    margin-left: 0;
    margin-right: 0;
}

#sidebar-container {
    min-height: 100vh;
    background-color: #1b9a4c;
    padding: 0;
    /* flex: unset; */
}

.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 60px;
    /* width: 100px; */
}

/* ----------| Menu item*/    
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* ----------| Submenu item*/    
#sidebar-container .list-group li.list-group-item {
    background-color: #1b9a4c;
}

#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

/* ----------| Separators */    
.sidebar-separator-title {
    background-color: #1b9a4c;
    height: 35px;
}

.sidebar-separator {
    background-color: #1b9a4c;
    height: 25px;
}

.logo-separator {
    background-color: #1b9a4c;
    height: 60px;
}

a.bg-dark {
    background-color: #1b9a4c!important;
}

/* ----------------------------------------------- */

/* TOP BAR */

.col {
    padding: 0px;
}

.fas{
    color: rgb(204, 203, 203);
}

.img-profile{
    height: 30px;
    width: 30px;
}

.topbar-divider{
    border-left: 2px solid rgb(204, 203, 203);
    height: 40px;
}

.btn {
    background-color: #1b9a4c;
}

/* ----------------------------------------------- */

/* CONTENT GRID VERSON 1 TEST */

.contentwrapper{
    display:grid;
    grid-template-columns: 70% 30%;
    grid-column-gap:1em;
    grid-row-gap:1em;
}

.contentwrapper > div{
    background:#eee;
    padding:1em;

}

.contentwrapper > div:nth-child(odd){
    background:#ddd;
}

/*CONTENT GRID VERSION 2 TEST */

.contentwrapperV2{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:1em;
    grid-row-gap:1em;
    grid-auto-rows: minmax(100px, auto);
}

.nested{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows: 70px;
    grid-gap:1em;
}

.contentwrapperV2 > div{
    background: lightskyblue;
    padding:1em;

}

.contentwrapperV2 > div:nth-child(odd){
    background:orange;
}

.nested > div{
    border:#333 1px solid;
    padding:1em;
}

/* ----------------------------------------------- */