/* ** MEDIA QUERIES ** */

/* for screen size less than 500px (Mobile View) */
@media only screen and (max-width: 574px) {

}


/* for screen size between 575px to 850px */
@media screen and (min-width: 575px) and (max-width: 850px) {

    
}

/* for screen size between 850 to 1250px */
@media screen and (min-width: 850px) and (max-width: 1249px) {

   

}


/* when screen size is greater than 1250px (Desktop View) */
@media screen and (min-width: 100px) {

    /* Jason Code */

    /* [GENERAL] */
    
    /* Sensor Type, Sensor Name and Sensor Settings Bar CSS */
    .createinside {
        border: 1px solid #2CA8FF;
        border-radius: 0;
        color: #2CA8FF;
        border: 0 !important;
        text-transform: uppercase;
        background-color: #999999;
        text-align: center;
        color: #FFFFFF !important;
        font-size: 12px;
        cursor: pointer;
        position: relative;
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        box-sizing: border-box;
    }

    /* Sensor Type, Sensor Name and Sensor Settings Bar Spacing */
    .pickle2{
        width: 33.33% !important;
    }

    /*  Centers the BIG Container */
    .sensorsecondcontainer{
        margin-right: -30%;
        margin-left: 10%;
    }

    /* [Sensor Type] */

    /*  Sensor Type title */
    .commentcontainer{
        text-align: center;
        margin: 20px 0px 0px 39%;
        width: 95%;
    }

    /* Sensor Type Selection Dropdown */
    .sensortyperow{
        margin-left: -27%;
        margin-top: 80px;
    }

    /* [Sensor Name] */

    /* Sensor Name title */
    .sensornametitle {
        text-align: center;
        margin: 27px 0px 15px 3% !important;
        width: 95%;
    }

    /* Sensor Name input & Error field */
    .sensornamecontainer{
        margin: 0px 0px 0px 20% !important;
    }

    /* [Sensor Setting] */

    .sensorsettinglabel{
        font-weight: 500;
    }




    

    


    

}