/* SIDEBAR */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* ----------------------------------------------- */

/* PAGE */

body {
    overflow-y: hidden;
}

/* ----------------------------------------------- */

/* SIDEBAR */

#body-row {
    margin-left: 0;
    margin-right: 0;
}

#logo-space {
    background-color: rgb(27, 154, 75);
    margin-bottom: 10px;
    padding: 2px;
}

#sidebar-container {
    min-height: 100vh;
    background-color: rgb(27, 154, 75);
    padding: 0;
    /* flex: unset; */
}

.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 60px;
    /* width: 100px; */
}

/* ----------| Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* ----------| Submenu item*/    
#sidebar-container .list-group li.list-group-item {
    background-color: rgb(27, 154, 75);
}

#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

/* ----------| Separators */    
.sidebar-separator-title {
    background-color: rgb(27, 154, 75);
    height: 35px;
}

.sidebar-separator {
    background-color: rgb(27, 154, 75);
    height: 25px;
}

.logo-separator {
    background-color: rgb(27, 154, 75);
    height: 60px;
}

a.bg-success {
    background-color: rgb(27, 154, 75) !important;
}

/* ----------------------------------------------- */

/* TOP BAR */

.btn-success {
    background-color: rgb(27, 154, 75) !important;
}

.col {
    padding: 0px;
}

.fas {
    color: rgb(204, 203, 203);
}

.greeniconcolor {
    color: rgb(27, 154, 75);
}

.img-profile {
    height: 30px;
    width: 30px;
}

.topbar-divider {
    border-left: 2px solid rgb(204, 203, 203);
    height: 40px;
}

.topbarnotification {
    padding: 10px;
}

.dropdown-menu {
    margin-right: 26px;
}

/* animation for the user profile */
@media (min-width: 992px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }

/* ----------------------------------------------- */

/* MAIN CONTENT */

.main-container {
    height: 90vh;
    overflow-y: auto;
    padding: 15px;
}

.nested{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows: 70px;
    grid-gap:1em;
}

.contentwrapperV2 > div{
    background: lightskyblue;
    padding:1em;

}

.contentwrapperV2 > div:nth-child(odd){
    background:orange;
}

.nested > div{
    border:#333 1px solid;
    padding:1em;
}

/* ----------------------------------------------- */

/* PROFILE */

/* body{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
} */

a {
  color: rgb(27, 154, 75);
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: rgb(104, 219, 66);
  text-decoration: none;
}

.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: rgb(27, 154, 75);
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid rgb(27, 154, 75);
}
.profile-work{
  padding: 14%;
  margin-top: -20%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: rgb(27, 154, 75);
}

/* ----------------------------------------------- */
