{% extends "baseLogin.html" %}

{% block content %}
{% load static %}
<div class="loginContainer">

    <div class="pic">
        <img class="homePic" src="{% static 'img/plant.jpeg' %}">
    </div>

    <div class="homeInfo">

        <h1><span class="h1color">OrigenAir</span> Login</h1>
        <h3 id="loginTxt">Welcome Back! Login to your <br>account to view today's <br>Information:</h3>

    </div>

    <div id="loginDiv">
            <div class="icons">
                <i class="fas fa-user"></i> <br>
                <i class="fas fa-user"></i>
            </div>

            <div class="inputs">

                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}


                    <div class="form-group">
                        {{form.username.errors}}
                        {{form.username}}
                    </div>

                    <div class="form-group">
                        {{form.password.errors}}
                        {{form.password}}
                    </div>

                    <input type="submit" class="btn btn-default" value="Login"><br>

                </form>

                <a class="homeLink" href="../signup">Signup</a>
            </div>

        </div>

</div>

{% endblock %}