{% extends "baseLogin.html" %}

{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <!-- IMAGE -->
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <!-- /END IMAGE -->

                <!-- CONTENT -->
                <div class="card-body">

                    <!--LOGO IMAGE-->
                    <div class="text-center">
                        <img id="logo" src="{% static 'img/logo2.png' %}" width="60">
                    </div>

                    <h3 class="card-title text-center">Welcome back!</h3>
                    <form method="post">

                        <!-- EMAIL ADDRESS -->
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                                required autofocus>
                            <label for="inputEmail">Email address</label>
                        </div>
                        <!-- /END EMAIL ADDRESS -->

                        <!-- PASSWORD -->
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                required>
                            <label for="inputPassword">Password</label>
                        </div>
                        <!-- /END PASSWORD -->

                        <!-- REMEMBER PASSWORD -->
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>
                        <!-- /END REMEMBER PASSWORD -->

                        <!-- BUTTONS -->
                        <button class="btn btn-lg btn-success btn-block btn-login text-uppercase font-weight-bold mb-2"
                            type="submit">Sign in</button>
                        <div class="text-center">
                            <a class="small" href="#">Forgot password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="../signup">Register</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="../../">Home</a>
                        </div>
                        <!-- /END BUTTONS -->
                    </form>
                </div>
                <!-- /END CONTENT -->
            </div>
        </div>
    </div>
</div>

{% endblock %}