{% extends "baseLogin.html" %}

{% block content %}
{% load static %}

<h3 class="card-title text-center">Welcome Back!</h3>

<form method="post">
    {% csrf_token %}
    {{form.non_field_errors}}

    <!-- USERNAME -->
    <div class="form-label-group">
        {{form.username.errors}}
        {{form.username}}
        <!-- <input type="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus> -->
        <label for="inputUsername">Username</label>
    </div>
    <!-- /END USERNAME -->

    <!-- PASSWORD -->
    <div class="form-label-group">
        {{form.password.errors}}
        {{form.password}}
        <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
        <label for="inputPassword">Password</label>
    </div>
    <!-- /END PASSWORD -->

    <hr class="my-4">

    <!-- BUTTONS -->
    <button class="btn btn-lg btn-success btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">
        Sign In</button>
    <div class="text-center">
        <a class="small" href="{% url 'accounts:password_reset' %}">Forgot Password?</a>
    </div>
    <div class="text-center">
        <a class="small" href="{% url 'accounts:signup' %}">Register</a>
    </div>
    <!-- /END BUTTONS -->
</form>
<!-- /END CONTENT -->

{% endblock %}