{% extends "baseLogin.html" %}

{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <!-- IMAGE -->
                <div class="card-img-left d-none d-md-flex">
                <!-- Background image for card set in CSS! -->
                </div>
                <!-- /END IMAGE -->

                <!-- CONTENT -->
                <div class="card-body">
                    
                    <!--LOGO IMAGE-->
                    <div class="text-center">
                        <img id="logo" src="{% static 'img/logo2.png' %}" width="60">
                    </div>

                    <h5 class="card-title text-center">Register</h5>
                    <form class="form-signin">
                        
                        <!-- USERNAME -->
                        <div class="form-label-group">
                            <input type="text" id="inputUserame" class="form-control" placeholder="Username" required
                                autofocus>
                            <label for="inputUserame">Username</label>
                        </div>
                        <!-- /END USERNAME -->

                        <!-- EMAIL ADDRESS -->
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                                required>
                            <label for="inputEmail">Email address</label>
                        </div>
                        <!-- /END EMAIL ADDRESS -->

                        <hr>

                        <!-- PASSWORD -->
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                required>
                            <label for="inputPassword">Password</label>
                        </div>
                        <!-- /END PASSWORD -->

                        <!-- CONFIRM PASSWORD -->
                        <div class="form-label-group">
                            <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password"
                                required>
                            <label for="inputConfirmPassword">Confirm Password</label>
                        </div>
                        <!-- /END CONFIRM PASSWORD -->

                        <hr class="my-4">

                        <!-- BUTTONS -->
                        <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit">Register</button>
                        <a class="d-block text-center mt-2 small" href="../login">Log In</a>
                        <div class="text-center">
                            <a class="small" href="../../">Home</a>
                        </div>
                        <!-- /END BUTTONS -->
                    </form>
                </div>
                <!-- /END CONTENT -->
            </div>
        </div>
    </div>
</div>

{% endblock %}