{% extends "baseLogin.html" %}

{% block content %}
{% load static %}

<h3 class="card-title text-center">Change Password</h3>
<h1 class="card-title" id="header2">Please enter your old password, and then enter your new password twice so we can verify you typed it in correctly.</h1>

<form method="post">
    {% csrf_token %}
    {{form.non_field_errors}}

    <!-- OLD PASSWORD -->
    <div class="form-label-group">
        {{form.old_password.errors}}
        {{form.old_password}}
        <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
        <label for="inputOldPassword">Old Password</label>
    </div>
    <!-- /END OLD PASSWORD -->

    <hr>

    <!-- NEW PASSWORD -->
    <div class="form-label-group">
        {{form.new_password1.errors}}
        {{form.new_password1}}
        <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
        <label for="inputNewPassword">New Password</label>
    </div>
    <!-- /END NEW PASSWORD -->

    <!-- CONFIRM NEW PASSWORD -->
    <div class="form-label-group">
        {{form.new_password2.errors}}
        {{form.new_password2}}
        <!-- <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" required> -->
        <label for="inputConfirmPassword">New Password Confirmation</label>
    </div>
    <!-- /END CONFIRM NEW PASSWORD -->

    <hr class="my-4">

    <!-- BUTTONS -->
    <button class="btn btn-lg btn-success btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">
        Change My Password
    </button>
    <!-- /END BUTTONS -->
</form>
<!-- /END CONTENT -->

{% endblock %}