{% extends "base.html" %}

{% block content %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <!-- CONTENT -->
                <div class="card-body card-body2">
                    <form method='POST'>
                        {% csrf_token %}

                        <!-- CLOSE Button -->
                        <div class="text-right">
                            <a class="large" href="{% url 'home' %}" style="color:rgb(27, 154, 75)"><i
                                    class="fas fa-times"></i></a>
                        </div>
                        <!-- /END CLOSE Button -->

                        <!-- BODY -->
                        <div class="text-center">
                            <h3 class="card-title text-center">Change Password</h3>
                            <h1 class="card-title" id="header2">Please enter your old password, and then enter your new
                                password twice so we can verify you typed it in correctly.</h1>

                            <!-- OLD PASSWORD -->
                            <div class="form-label-group">
                                {{form.old_password}}
                                <label for="inputOldPassword">Old Password</label>
                            </div>
                            <div class="form-label-group">
                                {{form.old_password.errors}}
                            </div>
                            <!-- /END OLD PASSWORD -->

                            <hr>

                            <!-- NEW PASSWORD -->
                            <div class="form-label-group">
                                {{form.new_password1}}
                                <label for="inputNewPassword">New Password</label>
                            </div>
                            <div class="form-label-group">
                                {{form.new_password1.errors}}
                            </div>
                            <!-- /END NEW PASSWORD -->

                            <!-- CONFIRM NEW PASSWORD -->
                            <div class="form-label-group">
                                {{form.new_password2.errors}}
                                {{form.new_password2}}
                                <label for="inputConfirmPassword">New Password Confirmation</label>
                            </div>
                            <!-- /END CONFIRM NEW PASSWORD -->

                            <hr class="my-4">

                            <!-- BUTTONS -->
                            <button
                                class="btn btn-lg btn-success btn-block btn-login text-uppercase font-weight-bold mb-2"
                                type="submit">
                                Change My Password
                            </button>
                            <!-- /END BUTTONS -->
                        </div>
                        <!-- /END BODY -->
                    </form>
                </div>
                <!-- /END CONTENT -->
            </div>
        </div>
    </div>
</div>

{% endblock %}