{% extends "baseLogin.html" %}

{% block content %}
{% load static %}

<h3 class="card-title text-center">Password Reset</h3>
<h1 class="card-title" id="header2">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</h1>

<form method="post">

    <!-- EMAIL ADDRESS -->
    <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputEmail">Email address</label>
    </div>
    <!-- /END EMAIL ADDRESS -->

    <hr class="my-4">
    
    <!-- BUTTONS -->
    <button class="btn btn-lg btn-success btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">
        Reset My Password
    </button>
    <!-- /END BUTTONS -->
</form>
<!-- /END CONTENT -->

{% endblock %}