{% extends "baseLogin.html" %}

{% block content %}
{% load static %}

<h3 class="card-title text-center">Password Reset Sent</h3>
<h1 class="card-title" id="header2">We've emailed you instructions for setting your password. If an account exists with the email you entered, you should receive them shortly.</h1>
<h1 class="card-title" id="header2">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</h1>
<!-- /END CONTENT -->

{% endblock %}