{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/orgcreate-gsdk-bootstrap-wizard.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style_sensorcreate.css' %}">
{% endblock %}

{% block content %}

<div class="image-container mainbackgroundimage set-full-height"
    style="background-image: url('{% static 'img/nature.jpg' %}')">
    <!--   Big container   -->
    <div class="container">
        <div class="row secondcontainer sensorsecondcontainer">
            <div class="col-sm-8 col-sm-offset-2">

                <!--      Wizard container        -->
                <div class="wizard-container">

                    <!-- data-color controls the color of the active tab of the ACCOUNT/ABOUT/SIZE/LOCATION Nav Bar -->
                    <div class="card wizard-card hugecontainer" data-color="green" id="wizardProfile">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <!-- Title of Create Organization Page -->
                            <div class="wizard-header">
                                <h3>
                                    <b>CREATE</b> YOUR SENSOR <br>
                                    <small>&nbsp;</small>
                                </h3>
                            </div>
                            <!-- End of Title of Create Organization Page -->

                            <!-- Create Organization Page Nav Bar / Link to different sections -->
                            <div class="wizard-navigation">
                                <ul class="createorgnavbar">
                                    <li class="pickle">
                                        <a class="createinside" href="#sensortype" data-toggle="tab">Sensor Type</a>
                                    </li>
                                    <li class="pickle">
                                        <a class="createinside" href="#sensorname" data-toggle="tab">Sensor Name</a>
                                    </li>
                                    <li class="pickle">
                                        <a class="createinside" href="#sensorsettings" data-toggle="tab">Sensor Settings</a>
                                    </li>
                                    <!-- <li class="pickle">
                                        <a class="createinside" href="#location" data-toggle="tab">Location</a>
                                    </li> -->
                                </ul>
                            </div>
                            <!-- End of Create Organization Page Nav Bar / Link to different sections -->

                            <div class="tab-content">
                                <!-- Sensor Type Tab -->
                                <div class="tab-pane" id="sensortype">
                                    <div class="row commentcontainer sensortitle">
                                        <h4 class="info-text commentrow sensortyperow"> Select Sensor Type </h4>
                                        <div class="col-sm-4 col-sm-offset-1 sensortyperow">
                                            <div class="">
                                                <form>
                                                    <select id="" name="">
                                                      <option value="one">Temperature Sensor</option>
                                                      <option value="two">Humidity Sensor</option>
                                                      <option value="three">Chloroform Sensor</option>
                                                      <option value="four">Benzene Sensor</option>
                                                      <option value="four">Carbon Dioxide Sensor</option>
                                                    </select>
                                                  </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Account Tab -->

                                <!-- Sensor Name Tab -->
                                <div class="tab-pane" id="sensorname">
                                    <div class="row aboutheadline">
                                        <h4 class="info-text sensornametitle"> Label The Sensor </h4>
                                        <div class="col-sm-6 col-sm-offset-1 sensornamecontainer">
                                            <div class="form-group sensornamecontainer">
                                                <input name="firstname" type="text" class="form-control sensornamebox" placeholder="Sensor Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of About Tab -->

                                <!-- Theme Tab -->
                                <!-- Sensor Setting Tab -->
                                <div class="tab-pane" id="sensorsettings">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4 class="info-text"> Set The Warning Thresholds</h4>
                                        </div>
                                        <div class="col-sm-5 col-sm-offset-1">
                                            <div class="form-group">
                                                <label class="sensorsettinglabel"> Minimum Warning Threshold </label>
                                                <div class="form-group">
                                                    <p>
                                                        <label for="inputColor" class="sensorfahrenheittitle">Degree
                                                            Fahrenheit</label>
                                                        <input class="form-control sensorfahrenheitinput" id="f"
                                                            onkeyup="convert('F')" placeholder="Fahrenheit">
                                                    </p>
                                                    <p>
                                                        <label class="sensorcelciuslabel">Degree Celcius: </label>
                                                        <input class="sensorcelciusoutput" id="c" onkeyup="convert('C')" placeholder="Celcius">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label class="sensorsettinglabel"> Maximum Warning Threshold </label>
                                                <div class="form-group">
                                                    <p>
                                                        <label for="inputColor" class="sensorfahrenheittitle">Degree
                                                            Fahrenheit</label>
                                                        <input class="form-control sensorfahrenheitinput" id="a"
                                                            onkeyup="convert2('A')" placeholder="Fahrenheit">
                                                    </p>
                                                    <p> 
                                                        <label class="sensorcelciuslabel">Degree Celcius: </label>
                                                        <input class="sensorcelciusoutput" id="b" onkeyup="convert2('B')" placeholder="Celcius"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Sensor Setting Tab -->

                            </div>
                            <!-- End of Container -->

                            <!-- The next, create and previous button -->
                            <div class="wizard-footer height-wizard">
                                <div class="pull-right">
                                    <input type='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm' name='next' value='Next' />
                                    <input type="submit" class='btn btn-finish btn-fill btn-warning btn-wd btn-sm' value="Create" />
                                </div>
                                <div class="pull-left">
                                    <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Previous' />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <!-- End of The next, create and previous button -->
                        </form>
                    </div>
                </div> <!-- wizard container -->
            </div>
        </div><!-- end row -->
    </div> <!--  big container -->
</div>

{% endblock %}

<!-- Scripts Block -->
{% block scripts %}
<!-- {{block.super}} -->
<!--   Core JS Files   -->
<script src="{% static 'js/orgcreate-jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/orgcreate-bootstrap.min.js' %}"></script>
<script src="{% static 'js/orgcreate-jquery.bootstrap.wizard.js' %}"></script>

<!--  Plugin for the Wizard -->
<script src="{% static 'js/orgcreate-gsdk-bootstrap-wizard.js' %}"></script>

<!-- More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="{% static 'js/orgcreate-jquery.validate.min.js' %}"></script>

<!-- javascript for the sensor create page -->
<script src="{% static 'js/sensorcreate.js' %}"></script>
{% endblock scripts %}