{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/orgcreate-gsdk-bootstrap-wizard.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style_orgcreate.css' %}">
{% endblock %}

{% block content %}

<p>This is a test</p>

{% endblock %}

<!-- Scripts Block -->
{% block scripts %}
<!-- {{block.super}} -->
<!--   Core JS Files   -->
<script src="{% static 'js/orgcreate-jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/orgcreate-bootstrap.min.js' %}"></script>
<script src="{% static 'js/orgcreate-jquery.bootstrap.wizard.js' %}"></script>

<!--  Plugin for the Wizard -->
<script src="{% static 'js/orgcreate-gsdk-bootstrap-wizard.js' %}"></script>

<!-- More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="{% static 'js/orgcreate-jquery.validate.min.js' %}"></script>
{% endblock scripts %}